include README.md
include LICENSE
include AUTHORS
include ChangeLog
include haruhi-dl.bash-completion
include haruhi-dl.fish
include haruhi-dl.1
recursive-include docs Makefile conf.py *.rst
recursive-include test *
